body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

header {
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

header .backButton {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header h1, header h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1;
}
header h1{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

header h2{
    margin-top: 5px;
    font-size: 16px;
    color: #999;
}

.list-open,
.list-wrapper {
    flex: 1;
    max-width: 400px;
    padding: 40px 20px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.list-open{
    max-width: 800px;

}
.list-item {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}

.list-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}
.spacer{
    flex: 1;
}
.gg-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
}

footer {
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
